.projects{
  height: max-content;
}

.page__title{
  overflow-y: hidden;
  padding-top: 15%;
  padding-left: 15%;
  font-size: 80px;
  letter-spacing: 2px;
}
.page__subtitle{
  overflow-y: hidden;
  margin-top: -2%;
  padding-left: 15%;
  font-size: 20px;
  color: gray;
}

.thumbnails{
  padding-bottom: 10%;
  overflow-y:hidden ;
  height: max-content;
  margin-left: 15%;
  margin-top: 20%;
  display: grid;
  grid-template-areas: 
  'web tnu'
  'wec .';
  grid-template-columns: max-content max-content;
  column-gap: 2%;
  row-gap: 2%;
}

.container_1{
  position: relative;
  grid-area: web;
}
.web1{
  max-width: 500px;
  border-radius: 10px;
  object-fit: cover;
}

.web1:hover{
  opacity: 0.5;
  cursor: pointer;
}

.container_2{
  position: relative;
  grid-area: tnu;
}
.app1{
  max-width: 500px;
  border-radius: 10px;
}
.app1:hover{
  opacity: 0.5;
  cursor: pointer;
}
.container_3{
  position: relative;
  grid-area: wec;
}
.app2{
  max-width: 500px;
  border-radius: 10px;
}
.app2:hover{
  opacity: 0.5;
  cursor: pointer;
}

.description{
  opacity: 0.0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* footer */

.footers1{
  background: black;
  color: white;
  text-align: center;
  padding: 1.5em 1em;
  font-size: var(--fs-h3);
  bottom: 0;
  width: 100%;
}

.footers1 a { 
  color: inherit;
  text-decoration: none;
}

.email__link {
  justify-content: center;
  text-decoration: none;
  text-align: center;
  margin: 1em 0;
  padding: 1em 0;
  font-weight: var(--fw-reg);
}


.social-list__link:hover,
.email__link:hover {
  opacity: .7;
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0;
}

.social-list__item a{
  margin: 0 1em;
  font-size: 24px;
  color: white;
}

.social-list__link {
  padding:0.5em ;
}

/* Variation for mobile screens */
@media screen and (max-width:768px){
  .page__subtitle{
    margin-top: -6%;
  }

  .thumbnails{
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .web1{
    max-width: 75%;
    margin-bottom: 2%;
  }
  .app1{
    max-width: 75%;
    margin-bottom: 2%;
  }
  .app2{
    max-width: 75%;
    margin-bottom: 2%;
  }
}