.desc{
  height: max-content;
}

.page__title{
  overflow-y: hidden;
  padding-top: 15%;
  padding-left: 15%;
  font-size: 80px;
  letter-spacing: 2px;
}

.page__subtitle{
  overflow-y: hidden;
  margin-top: -3%;
  padding-left: 16%;
  font-size: 20px;
  color: gray;
}

.page__subtitle a{
  overflow-y: hidden;
  color: gray;
}

.landing__img{
  overflow: hidden;
  padding-top: 20%;
  padding-left: 15%;
  object-fit: cover;
  width: 75%;
}

.description__para{
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 5%;
  padding-bottom: 10%;
  font-size: 20px;
}

/* footer */

.footers1{
  background: black;
  color: white;
  text-align: center;
  padding: 1.5em 1em;
  font-size: var(--fs-h3);
  bottom: 0;
  width: 100%;
}

.footers1 a { 
  color: inherit;
  text-decoration: none;
}

.email__link {
  justify-content: center;
  text-decoration: none;
  text-align: center;
  margin: 1em 0;
  padding: 1em 0;
  font-weight: var(--fw-reg);
}


.social-list__link:hover,
.email__link:hover {
  opacity: .7;
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
  padding: 0;
}

.social-list__item a{
  margin: 0 1em;
  font-size: 24px;
  color: white;
}

.social-list__link {
  padding:0.5em ;
}